body{
    background-color: #F2B1E3;
    font-family: 'Work Sans', sans-serif;
}

#main-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#header-style{
    height: 60px;
    font-size: 20px;
    background: #F2B1E3;
}

img{
    margin-top: 20px;
    margin-left: 20px;
}
#title-style{   
    font-size: 40px;
    margin: 20px 0;
}

#textarea-style{
    border: none;   
    border-radius: 10px;
    padding: 5px 5px;
    background-color: #F2B1E3;
    outline: none;
}

textarea::placeholder {
    color:#92347e;
    font-size: 1.3em;
  }

.button-style{
    min-width: 130px;
    height: 35px;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    padding: 2px 20px;
    background-color: #f37ed8;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
}


#button-box{    
    display: inline-block;
    margin-top: 15px;
}

#encrypt-button{
    background-color: #bb4da3;
}

.button-style:hover{
    background-color: #bb4da3;
}

#encrypt-button:hover{
    background-color: #f37ed8;
}

#text-result{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 20px 20px;
}

.user-output{
    font-size: 1rem;
    text-align: center;
}