body{
    background-color: #F2B1E3;
}

#main-style{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}


#header-style{
    height: 60px;
    width: 100%;
    color:#CED4DA;  
    font-size: 20px;
    background: #A80482;
    border-bottom: 8px solid #F9CEEF;
}

#title-style{
    font-size: 40px;
    margin: 20px 0;
}

#textarea-style{
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
}

#button-box{
    display: inline-block;
    margin-top: 15px;
}

.button-style{
    margin-right: 15px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
    padding: 2px 15px;
    background-color: #f18fdb;
}

.hide{
    display: none;
}